[submodule "bundle/commandt"]
	path = bundle/commandt
	url = git://github.com/vim-scripts/Command-T.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/singlecompile"]
	path = bundle/singlecompile
	url = git://github.com/vim-scripts/SingleCompile.git
